<h1>Welcome to the World Quidditch League</h1>

<img class="logo-image" src="https://www.usquidditch.org/files/USQ_Logo_Color.png" alt="Quiddich-logo" width=400 height=550>

<hr>

<h2 class="rules">Rules Of Quidditch</h2>
<div class="rules">
  <ol>
    <li>Seven players per team plus one referee</li>
    <li>Ten points for a goal and One hundred and fifty points for catching the Snitch</li>
    <li>When the Snitch is caught the game is over</li>
    <li>Three hoops at either end of the pitch</li>
    <li>Goals are scored by throwing the ball through the hoops</li>
    <li>Three points for a win, one point for a draw </li>
    <li>League title position is decided by points</li>
    <li>If points are the same then goal difference (game points) decides</li>
    <li>Every player has a value decided by an independent panel</li>
    <li>The value must be met for the player to be transferred</li>
  </ol>

</div>
