<h1>Welcome to the World Quidditch League</h1>

<img class="logo-image" src="https://vignette.wikia.nocookie.net/harrypotter/images/f/fb/Quidditch_World_Cup_logo.png/revision/latest?cb=20161023162124" alt="Quiddich-logo">
