<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>World Quidditch League</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
      <%= yield %>
    <nav>
      <ul>
        <li><a href="/teams">List of Teams</a></li>
        <li><a href="/teams/new">Add a New Team</a></li>
      </ul>
    </nav>

  </body>
</html>
