<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>World Quidditch League</title>

    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="main">
    <nav>
      <ul>
        <li><a href="/" style="text-decoration: none">Home</a></li>
        <li><a href="/teams" style="text-decoration: none">View League Table</a></li>
        <li><a href="/teams/new" style="text-decoration: none">Add a New Team</a></li>
        <li><a href="/games" style="text-decoration: none">See All Results</a></li>
        <li><a href="/games/new" style="text-decoration: none">Add a New Game</a></li>
        <li><a href="/players" style="text-decoration: none">View Superstars</a></li>
      </ul>
    </nav>
    <hr>
    <%= yield %>
    </div>
  </body>
</html>
