<h1>Add a New Team</h1>

<div class="add_team">


<form action="/teams" method="post">
  <label for="team-name">Team name</label>
  <input type="text" name="name" id="team-name">

  <label for="transfer-funds">Transfer Funds</label>
  <input type="number" name="transfer_funds" id="transfer-funds">

  <input type="submit" value="Add Team to Championship">

</form>

</div>
