h1 {
  font-family: fantasy;
  font-size: 4em;
  text-align: center;
  color: forestgreen;
}

body {
  color: black;
  background-color: white;
  margin: 0px 100px 0px 100px;
  background-image: url(https://orig00.deviantart.net/bd1c/f/2011/316/d/8/quidditch_by_chouette_e-d4fwiqo.jpg);
  text-align: center;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: forestgreen;
  font-weight: bold;
}

.main {
  background-color: white;
  padding-bottom: 1000px;
  text-align: center;
}

.add_team {
  margin: 40px;
  padding-bottom: 200px;
  font-size: 1.5em;
}

.view-games {
}

.logo-image {
  justify-content: center;
  display: inline-block;
}

/* .add-result {
  margin: 40px;
  padding-bottom: 200px;
  font-size: 1.2em;
} */

.add-item label {
  font-size: 1em;
  text-align: left;
  margin-left: 0px;
  margin-top: 200;
}

.table-container {
  margin: 10px 40px 30px 40px;
}

/* .add-item label, select {
  font-size: 1em;
  text-align: left;
  margin-left: 100px;
}

.add-item input, select {
  font-size: 1em;
  text-align: center;
  margin-right: 100px;
} */

nav {
  background-color: black;
  width: auto;
  padding: 6px;
}

ul li {
  display: inline;
  margin: 0px 20px 0px 20px;
  padding: 5px 5px 5px 5px;
}

table {
  width: 100%;
  border: 2px solid black;
}


tr, th, td {
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}

td {
  color: black;
  font-size: 1em;
}

th {
  color: black;
  font-size: 1.3em;
  background-color: lightgrey;
}

.league {
  counter-reset: serial-number;
}

.league td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}

.add-superstar ul li {
  border: 3px solid black;
  background-color: white;
  text-align: center;
  background-color: lightgreen;
}

.button {
  font-size: 1em;
  background-color: #2E8B57;
  color: white;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

.delete-button {
  font-size: 0.8em;
  background-color: red;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
}

@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {
    text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;
	}
