body {
  background: black url(http://cdn1-www.comingsoon.net/assets/uploads/2014/03/file_116019_0_quidditch1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
}

h1 {
  font-family: fantasy;
  font-size: 3em;
  text-align: center;
}

nav ul li {
  font-size: 1.6em;
  display: inline-block;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  padding:20px;
}

li a:visited {
  text-decoration: none;
  color: white;
}

table, tr, td {
  font-size: 1em;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px;
}
