h1 {
  font-family: fantasy;
  font-size: 4em;
  text-align: center;
  color: forestgreen;
}

ul li {
  display: inline;
  margin: 0px 20px 0px 20px;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  background-color: lightgreen;
}

table {
  width: 100%;
}


table, tr, th, td {
  border: 2px solid black;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}

td {
  color: blue;
  font-size: 1.2em;
}

th {
  color: black;
  font-size: 1.5em;
  background-color: lightgrey;
}
